<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>The Slacker Article Site!</title>
  <link rel="stylesheet" href="/stylesheet/app.css">
</head>

<body>
  <%= yield %>

  <script src="/javascripts/app.js"></script>
</body>
</html>
